<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158216103710-4a0n5osikihf9qh5sjgb4k6vug71vl31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158216103710-4a0n5osikihf9qh5sjgb4k6vug71vl31</string>
	<key>API_KEY</key>
	<string>AIzaSyD33iWG6nPABYYoBV5mwREDoNiOeIzjTwY</string>
	<key>GCM_SENDER_ID</key>
	<string>158216103710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zyduscadila.zydusfrontline</string>
	<key>PROJECT_ID</key>
	<string>zydus-frontline-mobile-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>zydus-frontline-mobile-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158216103710:ios:ede37a4ba2be39ca220b0f</string>
	<key>DATABASE_URL</key>
	<string>https://zydus-frontline-mobile-ios.firebaseio.com</string>
</dict>
</plist>